.table-view .column-header {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-background-color: #2B579A;
    -fx-border-color: transparent;
}

.table-view:focused .table-row-cell:focused {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.table-view {
    -fx-background-color: #F0F8FF;
}

.table-row-cell {
    -fx-text-fill: #2B579A;
}
.table-row-cell:filled:selected {
    -fx-background-color: #FFD700;
    -fx-text-fill: #2B579A;
    -fx-border-color: transparent;
}

.table-row-cell:hover {
    -fx-background-color: #F0C808;
}

.titled-pane {
    -fx-font-family: 'Georgia', serif;
    -fx-font-size: 16px;
    -fx-text-fill: #2B579A;
    -fx-background-color: #FFD700;
}



