.button {
    -fx-background-color: #FFD700;
    -fx-text-fill: black;
    -fx-padding: 3px 10px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-border-width: 2px;
}
.button:hover {
    -fx-background-color: #DEB887;
    -fx-text-fill: white;
}
.button:pressed {
    -fx-background-color: #DAA520;
    -fx-text-fill: #ffffff;
}

HBox {
    -fx-background-color: #2B579A;
    -fx-padding: 10px;
}
.navigation-bar {
    -fx-background-color: #2B579A;
    -fx-padding: 10px;

}
.label {
    -fx-text-align: center;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}
.root {
    -fx-background-color: #F0F8FF;
}
.search-bar {
    -fx-background-color: #f1f1f1;
    -fx-border-color: #ccc;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5 10;
    -fx-font-size: 14px;
}

.search-bar:focused {
    -fx-border-color: #4CAF50;
    -fx-background-color: #ffffff;
}

.search-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5 10;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.search-button:hover {
    -fx-background-color: #45a049;
}
